
/* Your CSS Code here. */
#row{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
/* 	align-items:space-between; */
}
#box1{
	width:200px;
	height:200px;
	background-color:green;
}
#box2{
	width:200px;
	height:200px;
	background-color:red;
}
#box3{
	width:200px;
	height:200px;
	background-color:blue;
}